#config_version=5
##! mode: high_score

mode:
  priority: 500
  start_events: start_high_score, game_ending
  use_wait_queue: true

high_score:
  _overwrite: true
  enter_initials_timeout: 60
  award_slide_display_time: 5s

  # define your high score categories and the awards
  categories: !!omap
    - score:
        - GRAND CHAMPION
        - High Score 1
        - High Score 2
        - High Score 3
        - High Score 4

  # set the defaults
  defaults:
    score:
      - OHM: 1000000
      - ALG: 900000
      - MPF: 800000
      - LRG: 700000
      - MRG: 600000

event_player:
  slide_high_score_enter_initials_active: got_highscore   # attempt to have a counter in config count up. That's the only "thing" left running at this point

sound_player:
  slide_high_score_enter_initials_active:
    introrepeat:
      action: stop
    voice_yodel:
      action: play
      loops: -1
  high_score_award_display{device.switches.s_adult.state == 0}:
    voice_yodel:
      action: stop
    voice_handsomemf_clean:    # adult mode OFF
      action: play
  high_score_award_display{device.switches.s_adult.state == 1}:
    voice_yodel:
      action: stop
    voice_handsomemf_adult:    # adult mode ON
      action: play
      
# optional: change the slides (you can omit all the following)
slide_player:
  _overwrite: true
  high_score_enter_initials:
    high_score_enter_initials:
      target: main
  high_score_award_display:
    high_score_award_display:
      target: main
  high_score_enter_initials.1:
    slide_mini_highscore:
      target: mini
      priority: 2100

slides:
  _overwrite: true
  high_score_enter_initials:
    - type: text
      style: bf_blue
      text: PLAYER (player_num)
      y: top - 35
    - type: text
      font_size: 100
      font_name: druillet
      color: red
      text: (award)
      anchor_x: middle
      anchor_y: top
      x: middle
      y: top - 160
    - type: text
      text: ''
      key: high_score
      font_size: 125
      font_name: druillet
      color: 008ce5ff
      anchor_y: top
      anchor_x: middle
      x: middle
      y: top - 350
      animations:
        show_slide:
          - property: opacity
            value: 1
            duration: 0.5s
            easing: in_out_quint
          - property: opacity
            value: 0
            duration: 0.5s
            repeat: true
            easing: in_out_quint
    - type: text_input
      initial_char: A
      dynamic_x: false
      key: high_score
      font_size: 100
      font_name: druillet
      color: 008ce5ff
      max_chars: 3
      anchor_y: middle
      anchor_x: middle
      x: middle
      y: top - 620
      shift_left_event: s_flipper_left_active
      shift_right_event: s_flipper_right_active
      select_event: s_start_active
    - type: image
      image: background-highscore
  high_score_award_display:
    - type: text
      font_size: 100
      font_name: druillet
      color: red
      text: (award)
      anchor_x: middle
      anchor_y: top
      x: middle
      y: top - 35
    
    - type: text
      text: (player_name)
      anchor_x: middle
      anchor_y: top
      x: middle
      y: top - 160
      color: 008ce5ff
      font_size: 125
      font_name: druillet
      animations:
        show_slide:
          - property: opacity
            value: 1
            duration: 0.5s
            easing: in_out_quint
          - property: opacity
            value: 0
            duration: 0.5s
            repeat: true
            easing: in_out_quint

    - type: text
      text: (value)
      font_size: 125
      font_name: druillet
      color: 008ce5ff
      anchor_y: top
      anchor_x: middle
      x: middle
      y: top - 325
      number_grouping: true
      min_digits: 1
      
    - type: image
      image: background-highscore-done
  slide_mini_highscore:
    widgets:
    - type: image
      image: MiniText-HighScore
      animations:
        show_slide:
          - property: opacity
            value: 1
            duration: 0.5s
            easing: in_out_quint
          - property: opacity
            value: 0
            duration: 0.5s
            repeat: true
            easing: in_out_quint
    - type: image
      image: beermug7