#config_version=5
##! mode: flipperflop

mode:
  start_events: start_mode_flipperflop
  stop_events: stop_mode_flipperflop, stop_missions, timer_mode_timer_flipperflop_stopped, ball_will_end

timers:
  mode_timer_flipperflop:
    start_value: 15
    end_value: 0
    direction: down
    control_events:
      - action: start
        event: mode_flipperflop_started

event_player:
  mode_flipperflop_started: flippers_flopped  # send event to change active flippers
  mode_flipperflop_will_stop: flippers_normal # go back to normal

slides:
  flipperflop_activated:
    widgets:
    - type: text
      text: DRUNKEN
      font_size: 150
      font_name: druillet
      anchor_x: center
      anchor_y: top
      x: middle
      y: top - 35
      color: 008ce5ff
    - type: text
      text: FLIPPER FLOP!
      font_size: 150
      font_name: druillet
      anchor_x: center
      anchor_y: top
      x: middle
      y: top - 210
      color: 008ce5ff
    - type: text
      text: All Targets 1M
      font_size: 10
      font_name: druillet
      anchor_x: center
      anchor_y: top
      x: middle
      y: top - 425
      color: 008ce5ff
      animations:
        show_slide:
          - property: font_size
            value: 200
            duration: .5s
    - type: image
      image: background

slide_player:
  mode_flipperflop_started:
    flipperflop_activated:
      target: main
      priority: 1000
  voice_flipperflop_active_complete:
    flipperflop_activated:
      target: main
      action: remove

sound_player:
  mode_flipperflop_started:
    voice_flipperflop_active:
      action: play
      events_when_stopped: voice_flipperflop_active_complete



