#config_version=5
## #! mode: mug
# This mode counts various hit events and increasingly 'fills' the mug lights every other hit.
# Idea is to enable our game mode qualifier mode when the mug fills up. Thinking of using both
# the beer keg and rim rules saucer holes to start a game mode selection.
#mode:
#  start_events: start_mode_mug, ball_started
#  stop_events: stop_mode_mug
#  priority: 150

# this counter does the...counting
counters:
  count_mug_lights:
    count_events: >
      shot_pop_lower_hit, shot_pop_upper_right_hit, shot_pop_upper_left_hit,
      shot_hj_hit, shot_bj_hit, shot_zj_hit, shot_chance_hit,
      shot_take_hit_hit, shot_chug_beer_hit, shot_do_shot_hit, shot_quarters_hit, shot_slingleft_hit,
      shot_slingright_hit, shot_slingquarters_hit, shot_tgt_ramp_boot_left_hit, shot_special_hit, shot_tavern_hit,
      shot_diverter_hit, shot_ramp_upf_hit, s_target_rimrules_hit
    count_complete_value: 14
    events_when_hit: fill_mug_X
    events_when_complete: qualified_for_mode_selection
    reset_on_complete: false

# this show sets lights appropriately. beer mug lights are tagged. Lowest light has tags of mugfill1-7, the second
# lowest light is tagged with mugfill2-7, and the highest light is tagged with only mugfill7. This results in the
# appropriate set of mug lights lit as the count goes higher.
shows:
  fill_mug:
    - time: 0
      lights:
        (tag): on
    - duration: -1

# fill_mug_X event is called whenever count_events are detected. conditional events below call the show
# show_player:
#   fill_mug_X{count==2}:
#     fill_mug:
#       show_tokens:
#         tag: mugfill1
#       loops: 0
#   fill_mug_X{count==4}:
#     fill_mug:
#       show_tokens:
#         tag: mugfill2
#       loops: 0
#   fill_mug_X{count==6}:
#     fill_mug:
#       show_tokens:
#         tag: mugfill3
#       loops: 0
#   fill_mug_X{count==8}:
#     fill_mug:
#       show_tokens:
#         tag: mugfill4
#       loops: 0
#   fill_mug_X{count==10}:
#     fill_mug:
#       show_tokens:
#         tag: mugfill5
#       loops: 0
#   fill_mug_X{count==12}:
#     fill_mug:
#       show_tokens:
#         tag: mugfill6
#       loops: 0
#   fill_mug_X{count==14}:
#     fill_mug:
#       show_tokens:
#         tag: mugfill7    
#       loops: 0
