#config_version=5
##! mode: quarters

mode:
  start_events: start_mode_quarters
  stop_events: stop_mode_quarters, stop_missions, timer_round_timer_quarters_stopped   # end round when timer stops
  events_when_started: mode_type_mission_started
  events_when_stopped: mode_type_mission_stopped
  priority: 300

sound_player:
  mode_quarters_started:
    voice_quarters_intro:
      action: play
      loops: 0
      events_when_stopped: saucer_release, intro_done
  mode_quarters_will_stop:
    themedrinkonme:
      action: stop
    themehardasarock:
      action: stop
    themejungleboogie:
      action: stop
    themealcohol:
      action: stop
    themebeer:
      action: stop
    themebeerformyhorses:
      action: stop
    themebyob:
      action: stop
    themecomininhot:
      action: stop
  # Field, and any of the Game Modes (Quarters, Strike Out, etc.) must implement their own listeners on shot_kicker_mode_hit or shot_kicker_rimrules_hit.
  shot_kicker_mode_hit:
    voice_betterwhendrunk:
      action: play
      events_when_stopped: kicker_mode_eject
  shot_kicker_rimrules_hit:
    rimrules:
      action: play
      events_when_stopped: kicker_rimrules_eject
  quarters_success:
    sureasschnitzel:
      action: play
      events_when_stopped: slide_event_result_complete
  quarters_fail:
    goddamnbrewery:
      action: play
      events_when_stopped: slide_event_result_complete
  quarters_partial:
    prettyclose:
      action: play
      events_when_stopped: slide_event_result_complete
  timer_round_timer_quarters_tick{ticks == 5}:
    voice_hurryup:
      action: play

slides:
  slide_quarters_intro:
    widgets:
      - type: text
        text: Beerfest Event
        font_name: druillet
        color: 008ce5ff
        font_size: 100
        anchor_x: middle
        anchor_y: top
        x: middle
        y: top - 35
      - type: text
        text: QUARTERS
        font_name: druillet
        color: 008ce5ff
        font_size: 10
        anchor_x: middle
        anchor_y: middle
        x: middle
        y: top - 325
        animations:
          show_slide:
            - property: font_size
              value: 225
              duration: 2s
      - type: text
        text: Hit That Shot Glass
        font_name: druillet
        color: 008ce5ff
        font_size: 100
        anchor_x: middle
        anchor_y: top
        x: middle
        y: top - 500
      - type: video
        video: bubbles
        end_behavior: loop
  slide_quarters_main:
    widgets:
      - type: text
        text: QUARTERS
        font_name: druillet
        color: 008ce5ff
        font_size: 150
        anchor_x: middle
        anchor_y: top
        x: middle
        y: top - 35
      - type: text
        text: (player|theme_mode_timer_variable)
        font_name: druillet
        color: red
        font_size: 150
        anchor_x: middle
        anchor_y: top
        x: middle
        y: top - 250
      - type: text
        text: (score)
        number_grouping: true
        min_digits: 1
        font_name: druillet
        color: 008ce5ff
        font_size: 125
        anchor_x: middle
        anchor_y: top
        x: middle
        y: top - 450
      - type: text
        text: Ball (ball)
        font_name: druillet
        color: 008ce5ff
        font_size: 65
        anchor_x: middle
        anchor_y: bottom
        x: middle
        y: bottom + 35
      - type: video
        video: bubbles
        end_behavior: loop
  slide_quarters_success:
    widgets:
      - type: text
        text: QUARTERS
        font_name: druillet
        color: 008ce5ff
        font_size: 100
        anchor_x: middle
        anchor_y: top
        x: middle
        y: top - 35
      - type: text
        text: SUCCESS
        font_name: druillet
        color: green
        font_size: 10
        anchor_x: middle
        anchor_y: middle
        x: middle
        y: top - 250
        animations:
          show_slide:
            - property: font_size
              value: 100
              duration: .5s
      - type: text
        text: (player|pts_quarters_success)
        number_grouping: true
        min_digits: 1
        font_name: druillet
        color: 008ce5ff
        font_size: 10
        anchor_x: middle
        anchor_y: middle
        x: middle
        y: top - 450
        animations:
          show_slide:
            - property: font_size
              value: 225
              duration: .5s
      - type: video
        video: bubbles
        end_behavior: loop
  slide_quarters_fail:
    widgets:
      - type: text
        text: QUARTERS
        font_name: druillet
        color: 008ce5ff
        font_size: 100
        anchor_x: middle
        anchor_y: top
        x: middle
        y: top - 35
      - type: text
        text: FAIL
        font_name: druillet
        color: red
        font_size: 10
        anchor_x: middle
        anchor_y: middle
        x: middle
        y: top - 325
        animations:
          show_slide:
            - property: font_size
              value: 225
              duration: 1s
      - type: video
        video: bubbles
        end_behavior: loop
  slide_just_background:
    - type: image
      image: background 
  slide_quarters_partial:        # if they hit quarters, but drained before round timer expires
    widgets:
      - type: text
        text: QUARTERS
        font_name: druillet
        color: 008ce5ff
        font_size: 100
        anchor_x: middle
        anchor_y: top
        x: middle
        y: top - 35
      - type: text
        text: SUCCESS
        font_name: druillet
        color: green
        font_size: 10
        anchor_x: middle
        anchor_y: middle
        x: middle
        y: top - 250
        animations:
          show_slide:
            - property: font_size
              value: 100
              duration: .5s
      - type: text
        text: (player|pts_quarters_partial)
        number_grouping: true
        min_digits: 1
        font_name: druillet
        color: 008ce5ff
        font_size: 10
        anchor_x: middle
        anchor_y: middle
        x: middle
        y: top - 450
        animations:
          show_slide:
            - property: font_size
              value: 225
              duration: .5s
      - type: video
        video: bubbles
        end_behavior: loop
  slide_bonus_quarters_themed:
    widgets:
    - type: text
      text: QUARTERS
      font_size: 150
      font_name: druillet
      anchor_x: center
      anchor_y: top
      x: middle
      y: top - 35
      color: 008ce5ff
    - type: text
      text: MEGA BONUS
      font_size: 150
      font_name: druillet
      anchor_x: center
      anchor_y: top
      x: middle
      y: top - 210
      color: 008ce5ff
    - type: text
      text: (player|pts_quarters_themed)
      number_grouping: true
      min_digits: 1
      font_size: 10
      font_name: druillet
      anchor_x: center
      anchor_y: top
      x: middle
      y: top - 425
      color: 008ce5ff
      animations:
        show_slide:
          - property: font_size
            value: 200
            duration: .5s
    - type: image
      image: background      
  slide_mini_shootshotglass:
    widgets:
    - type: image
      image: MiniText-ShootShotGlass
      animations:
        show_slide:
          - property: opacity
            value: 1
            duration: 0.5s
            easing: in_out_quint
          - property: opacity
            value: 0
            duration: 0.5s
            repeat: true
            easing: in_out_quint
    - type: image
      image: beermug7

slide_player:
  mode_quarters_started:
    slide_quarters_intro:
      target: main
    slide_mini_shootshotglass:
      target: mini
      priority: 2000
  intro_done:
    slide_quarters_intro:
      target: main
      action: remove
    slide_quarters_main:
      target: main
      action: play
  quarters_success:
    slide_quarters_main:
      target: main
      action: remove
    slide_just_background:
      target: main
      action: play
    slide_quarters_success:
      target: main
      action: play
  quarters_fail:
    slide_quarters_main:
      target: main
      action: remove
    slide_just_background:
      target: main
      action: play
    slide_quarters_fail:
      target: main
      action: play
  quarters_partial:
    slide_quarters_main:
      target: main
      action: remove
    slide_just_background:
      target: main
      action: play
    slide_quarters_partial:
      target: main
      action: play
  shot_quarters_hit:
    slide_bonus_quarters_themed:
      target: main
      priority: 1000
      expire: 2s 
  slide_event_result_complete:
    slide_quarters_success:
      target: main
      action: remove
    slide_quarters_fail:
      target: main
      action: remove
    slide_quarters_partial:
      target: main
      action: remove
    slide_just_background:
      target: main
      action: remove
  

queue_relay_player:
  mode_quarters_stopping{device.timers.round_timer_quarters.ticks == 0 and current_player.has_current_thememode==1}:  # timer expired, player completed bonus
    post: quarters_success
    wait_for: slide_slide_quarters_success_removed
  mode_quarters_stopping{device.timers.round_timer_quarters.ticks == 0 and current_player.has_current_thememode==0}:  # timer expired, player did not complete bonus
    post: quarters_fail
    wait_for: slide_slide_quarters_fail_removed
  mode_quarters_stopping{device.timers.round_timer_quarters.ticks > 0 and current_player.has_current_thememode==1}:   # timer did not expire (we drained?), but player completed bonus
    post: quarters_partial
    wait_for: slide_slide_quarters_partial_removed
  mode_quarters_stopping{device.timers.round_timer_quarters.ticks > 0 and current_player.has_current_thememode==0}:   # timer did not expire (we drained?), and player did not complete bonus
    post: quarters_fail
    wait_for: slide_slide_quarters_fail_removed  
  ball_ending:  # delay ball_ending until whicher slide is shown above finishes
    post: nothing
    wait_for: slide_event_done

event_player:
  slide_slide_quarters_intro_removed: choose_random_background_music
  slide_slide_quarters_success_removed: slide_event_done
  slide_slide_quarters_fail_removed: slide_event_done
  slide_slide_quarters_partial_removed: slide_event_done
  saucer_release{device.switches.s_kicker_rimrules.state == 1}: kicker_rimrules_eject
  saucer_release{device.switches.s_kicker_mode.state == 1}: kicker_mode_eject

shows:
  flash_quarters_insert:
    - duration: 1
      lights:
        mode_quarters:
          color: yellow
          fade: .5s
    - duration: 1
      lights:
        mode_quarters: 
          color: off
          fade: .5s
  flash_quarters_prop:
    - duration: 1s
      lights:
        quarters1: white
        quarters2: off
        quarters3: off
        quarters4: off
        quarters5: off
    - duration: 1s
      lights:
        quarters1: off
        quarters2: white
    - duration: 1s
      lights:
        quarters2: off
        quarters3: white
    - duration: 1s
      lights:
        quarters3: off
        quarters4: white
    - duration: 1s
      lights:
        quarters4: off
        quarters5: white      

show_player:
  mode_quarters_started:
    init_lights_themed:
      loops: 0
  mode_quarters_started.1:
    flash_quarters_insert:
      speed: 2
  mode_quarters_started.2:
    flash_quarters_prop:
      speed: 8

  choose_random_background_music:
    flash_gi_themed:
      speed: 4
      loops: -1

  # stop light shows on success/partial/fail
  quarters_success:
    flash_quarters_prop:
      action: stop
    flash_gi_themed:
      action: stop
  quarters_partial:
    flash_quarters_prop:
      action: stop
    flash_gi_themed:
      action: stop
  quarters_fail:
    flash_quarters_prop:
      action: stop
    flash_gi_themed:
      action: stop

# timed round
timers:
  round_timer_quarters:
    start_value: 45
    end_value: 0
    direction: down
    control_events:
      - action: start
        event: choose_random_background_music
      - action: stop
        event: quarters_success
      - action: stop
        event: quarters_partial
      - action: stop
        event: quarters_fail
variable_player:
  mode_quarters_started:    # init whether we completed this current bonus
    has_current_thememode:
      int: 0
      action: set
  timer_round_timer_quarters_tick:
    theme_mode_timer_variable:
      int: device.timers.round_timer_quarters.ticks
      action: set
  shot_quarters_hit:
    score: current_player.pts_quarters_themed
    has_current_thememode:        # track that player has completed requirements for bonus
      action: set
      int: 1
    bonus_numquarters: 1      # bonus tracker (quarters)
  quarters_success:
    score: current_player.pts_quarters_success
    has_quarters:
      action: set
      int: 1
  quarters_partial:
    score: current_player.pts_quarters_partial
    has_quarters:
      action: set
      int: 1